.registration-content {
    text-align: center;
}
.registration-name {
    margin-top: 10px;
}
.registration-username {
    margin-top: 10px;
}
.registration-password {
    margin-top: 10px;
}
.register-button {
    margin-top: 10px;
}
